*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Outfit', sans-serif;
    background-color: $color_green;

    .general-grid{
        display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, auto);
            gap: 20px 20px;
            grid-template-areas:
                "header"
                "main"
                "footer"
            ;
    }
}

h2{
    color: $color_yellow;
    font-family: 'Prompt', sans-serif;
    font-size: 2.75rem;
    text-shadow: 0.25rem 0.25rem 0 $color_gray;
    text-align: center;
}

h3{
    font-family: 'Prompt', sans-serif;
    font-size: 1.75rem;
    color: $color_blue;
}